*
{
	margin: 0px;
	padding: 0px;
}
.logo
{
	float: left;
	margin: 15px 5px 10px 145px;
}
.navul
{
	float: left;
	margin: 5px 8px 8px 15px;
	flex-direction: row;
}
.navulli
{
	padding: 30px 45px 10px 0px;
	list-style: none;
	float: left;
}
.navullia
{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-family: calibri;
	margin: 0px 3px;
	font-weight: bold;
}
.navullia:hover
{
	color: #ff7b1c;
}
.search
{
	border: none;
	border-bottom: 1px solid orange;
	background-color: transparent;
	color: white;
	padding: 4px 0px;
	margin-top: 5px;
}
::placeholder{
	color: white;
}
.searchpad
{
	height: 20px;
	width: 80px;
	float: left;
	margin: 33px 50px 10px 40px;

}
.bottom
{
	position: absolute;
	top: 1650px;
	height: 500px;
	width: 99.8%;
	background-color: #333;
}
.list1
{
	font-family: sans-serif;
	position: absolute;
	top: 1700px;
	left: 50px;
	list-style-type: none;
	color: #eee;
	line-height: 25px;
}
.list2
{
	font-family: sans-serif;
	position: absolute;
	top: 1700px;
	left: 250px;
	list-style-type: none;
	color: #eee;
	line-height: 25px;
}
.list3
{
	font-family: sans-serif;
	position: absolute;
	top: 1700px;
	left: 500px;
	list-style-type: none;
	color: #eee;
	line-height: 25px;
}
.list4
{
	font-family: sans-serif;
	position: absolute;
	top: 1700px;
	left: 750px;
	list-style-type: none;
	color: #eee;
	line-height: 25px;
}
.list5
{
	font-family: sans-serif;
	position: absolute;
	top: 1700px;
	left: 1000px;
	list-style-type: none;
	color: #eee;
	line-height: 25px;
}